@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    height: 100vh;
}

.container-all {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 49, 60);
}


.img-logo {
    width: 175px;
    height: 65px;
    background-image: url(../../img/logoDistraoil2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img-menu {
    width: 40px;
    height: 40px;
    background-image: url(../../img/menu.png);
}

.img-shopping {
    width: 24px;
    height: 24px;
    background-image: url(../../img/shopping_cart.png);
}


.banner-img {
    width: 100%;
    height: 185px;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-img p {
    font-size: 30px;
}

.info {
    background-color: rgb(208, 49, 60);
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-cartel {
    width: 105px;
    height: 110px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    border: none;
}

.info-cartel p {
    font-size: 10px;
    text-transform: uppercase;
}

.info-cartel h3 {
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
}

.filtro {
    width: 100%;
    height: 434px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.filtro-element {
    width: 100%;
    height: 17%;
}

.filtro-element h1 {
    width: 80%;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 30px;
    text-align: justify;
    line-height: 40px;
}

.select-auto {
    font-size: 17px;
    width: 305px;
    height: 52px;
    border-radius: 4px;
    outline: none 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-modelo {
    width: 202px;
    height: 52px;
    font-size: 17px;
    border-radius: 4px;
    outline: none 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-ano {
    width: 94px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.selects {
    gap:40px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    padding: 15px 0px;
    width: 60%;
    outline: 0 none;
    border-radius: 5px;
    border: 1px solid;
    font-size: 17px;
    text-transform: uppercase;
    background-color: white;
}

.button2 {
    width: 207px;
    height: 52px;
    text-decoration: none;
    outline: 0 none;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #4B72FF;
    color: #FFF;
    font-size: 18px;
    line-height: 40px;
}

.setion1,
.setion2 {
    
    height: 52px;
    display: flex;
}

.setion1 {
    justify-content: center;
    align-items: center;
}

.setion2 {
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.position{
position: relative;
top: 92px;
}
